<div class="row">

  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>&nbsp; Technology
        </div>

      </div>

      <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>
    <div class="col-sm-8">

      <div *ngIf="mainvalue==='Summary'|| mainvalue==null" class="grey-cararra table-responsive">
    
        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">MAX</th>
              <th scope="col">MIN</th>
              <th scope="col">Average</th>
              <th scope="col">Target</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="11" scope="row">Technology</td>
              <td>.NET</td>
              <td>90</td>
              <td>50</td>
              <td>75</td>
              <td>90</td>
            </tr>
            <tr>
              <td>PHP</td>
              <td>85</td>
              <td>48</td>
              <td>69</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Android</td>
              <td>75</td>
              <td>45</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>IOS</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Testing Automation</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>IOT</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>AI</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Big Data</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Analytics</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Java</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Security</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
         
        

          </tbody>
        </table>


      </div>


      <div class="border" *ngIf="mainvalue==='.NET'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="dotnet"></div>
      
      </div>
   

      <div class="border" *ngIf="mainvalue==='PHP' ">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
       
        <div [chart]="PHP"></div>
      
      </div>

      <!-- <div class="" style="margin-top:20px;" *ngIf="mainvalue==='PHP'">


        <table class="table table-bordered table-striped text-center margin-top-10" id="">
          <thead>
            <tr>
              <th scope="col">Days</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>{{selected}}-01</td>
              <td>15</td>
            </tr>
            <tr>
              <td>{{selected}}-02</td>
              <td>11</td>
            </tr>
            <tr>
              <td>{{selected}}-03</td>
              <td>16</td>
            </tr>
            <tr>
              <td>{{selected}}-04</td>
              <td>26</td>
            </tr>
            <tr>
              <td>{{selected}}-05</td>
              <td>33</td>
            </tr>
            <tr>
              <td>{{selected}}-06</td>
              <td>31</td>
            </tr>
            <tr>
              <td>{{selected}}-07</td>
              <td>38</td>
            </tr>
            <tr>
              <td>{{selected}}-08</td>
              <td>37</td>
            </tr>
            <tr>
              <td>{{selected}}-09</td>
              <td>41</td>
            </tr>
            <tr>
              <td>{{selected}}-10</td>
              <td>49</td>
            </tr>
            <tr>
              <td>{{selected}}-11</td>
              <td>46</td>
            </tr>
            <tr>
              <td>{{selected}}-12</td>
              <td>51</td>

            </tr>
            <tr>
              <td>{{selected}}-13</td>
              <td>50</td>
            </tr>
            <tr>
              <td>{{selected}}-14</td>
              <td>55</td>
            </tr>
            <tr>
              <td>{{selected}}-15</td>
              <td>49</td>
            </tr>
            <tr>
              <td>{{selected}}-16</td>
              <td>56</td>
            </tr>
            <tr>
              <td>{{selected}}-17</td>
              <td>53</td>
            </tr>
            <tr>
              <td>{{selected}}-18</td>
              <td>50</td>
            </tr>
            <tr>
              <td>{{selected}}-19</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-20</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-21</td>
              <td>52</td>
            </tr>
            <tr>
              <td>{{selected}}-22</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-23</td>
              <td>45</td>
            </tr>
            <tr>
              <td>{{selected}}-24</td>
              <td>62</td>

            </tr>
            <tr>
              <td>{{selected}}-25</td>
              <td>58</td>
            </tr>
            <tr>
              <td>{{selected}}-26</td>
              <td>52</td>
            </tr>
            <tr>
              <td>{{selected}}-27</td>
              <td>45</td>
            </tr>
            <tr>
              <td>{{selected}}-28</td>
              <td>55</td>
            </tr>
            <tr>
              <td>{{selected}}-29</td>
              <td>33</td>
            </tr>
            <tr>
              <td>{{selected}}-30</td>
              <td>48</td>

            </tr>



          </tbody>
        </table>
      </div> -->

      
      <div class="border" *ngIf="mainvalue==='Android'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="Android"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='IOS'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="IOS"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='Testing Automation'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="TestingAutomation"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='IOT'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="IOT"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='AI'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="AI"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='Big Data'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="bigdata"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='Analytics'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="Analytics"></div>
      
      </div>

      <div class="border" *ngIf="mainvalue==='Java'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="Java"></div>
      
      </div>

      

      <div class="border" *ngIf="mainvalue==='Security'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="Security"></div>
      
      </div>

  
     
      <div class="" style="margin-top:20px;" *ngIf="mainvalue === '.NET' || mainvalue === 'PHP'|| mainvalue === 'Android'|| mainvalue === 'IOS'|| mainvalue === 'Testing Automation'|| mainvalue === 'IOT'|| mainvalue === 'AI'|| mainvalue === 'Big Data'|| mainvalue === 'Analytics'|| mainvalue === 'Java'">


        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>January</td>
              <td>06</td>
            </tr>
            <tr>
              <td>February</td>
              <td>07</td>
            </tr>
            <tr>
              <td>March</td>
              <td>09</td>
            </tr>
            <tr>
              <td>April</td>
              <td>08</td>
            </tr>
            <tr>
              <td>May</td>
              <td>04</td>
            </tr>
            <tr>
              <td>June</td>
              <td>04</td>
            </tr>
            <tr>
              <td>July</td>
              <td>06</td>
            </tr>
            <tr>
              <td>August</td>
              <td>11</td>
            </tr>
            <tr>
              <td>September</td>
              <td>10</td>
            </tr>
            <tr>
              <td>October</td>
              <td>10</td>
            </tr>
            <tr>
              <td>November</td>
              <td>15</td>
            </tr>
            <tr>
              <td>December</td>
              <td>13</td>

            </tr>


          </tbody>
        </table>
      </div>
  
      <div class="" style="margin-top:20px;" *ngIf="mainvalue === 'Security'">


        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">Quarters</th>
              <th scope="col">{{mainvalue}} Percentage</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>Quarter 01</td>
              <td>30%</td>
            </tr>
            <tr>
              <td>Quarter 02</td>
              <td>20%</td>
            </tr>
            <tr>
              <td>Quarter 03</td>
              <td>28%</td>
            </tr>
            <tr>
              <td>Quarter 04</td>
              <td>22%</td>
            </tr>
        

          </tbody>
        </table>
      </div>
  

  


      <div *ngIf="mainvalue==='Exceptions'" class="grey-cararra table-responsive">
    
        <table class="table table-bordered table-striped text-center table-responsive" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">Execptions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="11" scope="row">Technology</td>
              <td>.NET</td>
              <td>9</td>
            </tr>
            <tr>
              <td>PHP </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Android</td>
              <td>0</td>
            </tr>
            <tr>
              <td>IOS</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Testing Automation </td>
              <td>5</td>
            </tr>
            <tr>
              <td>IOT</td>
              <td>9</td>
            </tr>
            <tr>
              <td>AI</td>
              <td>0</td>
            </tr>
            <tr>

              <td>Big Data </td>
              <td>4</td>
            </tr>
            <tr>
              <td>Analytics </td>
              <td>7</td>
            </tr>
            <tr>
         
              <td>Java</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Security</td>
              <td>0</td>
            </tr>
           

          </tbody>
        </table>
      </div>

      


    </div>
  </div>


</div>