.marging{
    margin: 25px;
}

.portlet-title{
  background-color: #1a237e;
  color: azure;
  padding: 10px;
}

.example-tree-invisible {
    display: none;
  }


  
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

 
/* style for checkbox color starts here*/
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(27, 142, 241) !important;
  }
  
  ::ng-deep .mat-ripple-element {
    background: rgba(27, 142, 241, .4) !important;
  }
  /* Ends here */
  

  ::ng-deep .ui-tree {
    width: 100%;
}
::ng-deep  body .ui-tree {
  border: 0px;
}




::ng-deep  :focus {
  outline: -webkit-focus-ring-color auto 0px;
}


.no-padding{
    padding: 0;
    margin: 0;
}

.close{
    float: right;
    color: black;
}

.radio-inline{
    margin-left: 15px;
}

.margin-top{
    margin-top: 10px !important;
}


.margin-top20{
    margin-top: 20px;
}


th{
    text-align: center;
}