<div class="col-sm-12 tab-pane margintop20">

  <div class="pull-right">
    <a (click)='uploadModalToggle(1)' class="btn btn-primary marginbtn" id="Quality_Upload" title="Click to Upload Document">
      <i class="fa fa-upload"></i>&nbsp;&nbsp;Upload
    </a>
    <a (click)="downloadModalToggle(1)" class="btn btn-success marginbtn" id="Quality_download" title="Click to Download Document">
      <i class="fa fa-download"></i>&nbsp;&nbsp;Download
    </a>
  </div>

  <ul class="nav nav-pills">
    <li class="pill_bg_color active">
      <a href="#tab_Quality_inner_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-circle-o success"></i>&nbsp;&nbsp;Active</a>
    </li>
    <li class="pill_bg_color">
      <a href="#tab_Quality_inner_2" data-toggle="tab" aria-expanded="true"><i class="fa fa-archive"></i>&nbsp;&nbsp;Archive</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_Quality_inner_1">
      <div class="col-sm-12 col-xs-12 margintop20">
        <div class="row">
          <div id="Quality_table1_wrapper" class="dataTables_wrapper no-footer">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="dataTables_length" id="Quality_table1_length">
                  <select name="Quality_table1_length" aria-controls="Quality_table1" class="form-control input-xsmall input-inline">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select><label style="display:inline-block; font-weight: 400"> &nbsp;records </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div id="Quality_table1_filter" class="dataTables_filter pull-right"><label style="display:inline-block; font-weight: 400">Search:&nbsp;</label><input
                    type="search" class="form-control input-small input-inline" placeholder="" aria-controls="Quality_table1"></div>
              </div>
            </div>
            <div class="table-scrollable">
              <table class="table table-responsive table-bordered dataTable no-footer" id="Quality_table1" role="grid"
                aria-describedby="Quality_table1_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Upload ID: activate to sort column ascending" style="width: 0px;">Upload
                      ID</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1" aria-label="Division: activate to sort column ascending"
                      style="width: 0px;">Division</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1" aria-label="Location: activate to sort column ascending"
                      style="width: 0px;">Location</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending"
                      style="width: 0px;">Department</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1" aria-label="Date Uploaded: activate to sort column ascending"
                      style="width: 0px;">Date
                      Uploaded</th>
                    <th class="text-center sorting" tabindex="0" aria-controls="Quality_table1" rowspan="1" colspan="1"
                      aria-label="Action: activate to sort column ascending" style="width: 0px;">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr role="row" class="odd">
                    <td class="sorting_1">123456</td>
                    <td>Division1</td>
                    <td>Hyderabad</td>
                    <td>Developer</td>
                    <td> 29/06/2018</td>
                    <td class="text-center "><a class="padding_right "><i class="fa fa-pencil-square marginbtn" title="Click to edit"></i></a>
                      <a><i class="fa fa-trash marginbtn red" title="Click to delete"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">

              <div class="col-md-7 col-sm-12 pull-right">
                <div class="dataTables_paginate paging_simple_numbers" id="Quality_table1_paginate">
                  <ul class="pagination pull-right">
                    <li class="paginate_button previous disabled" aria-controls="Quality_table2" tabindex="0" id="Quality_table2_previous"><a
                        href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="paginate_button active" aria-controls="Quality_table2" tabindex="0"><a>1</a></li>
                    <li class="paginate_button next disabled" aria-controls="Quality_table2" tabindex="0" id="Quality_table2_next"><a
                        href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab_Quality_inner_2">
      <div class="col-sm-12 margintop20">
        <div class="row">
          <div id="Quality_table2_wrapper" class="dataTables_wrapper no-footer">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="dataTables_length" id="Quality_table1_length">
                      <select name="Quality_table1_length" aria-controls="Quality_table1" class="form-control input-xsmall input-inline">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select><label style="display:inline-block; font-weight: 400"> &nbsp;records </label>
                    </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div id="Quality_table1_filter" class="dataTables_filter pull-right"><label style="display:inline-block; font-weight: 400">Search:&nbsp;</label><input
                    type="search" class="form-control input-small input-inline" placeholder="" aria-controls="Quality_table1"></div>
              </div>
            </div>
            <div class="table-scrollable">
              <table class="table table-responsive table-bordered dataTable no-footer" id="Quality_table2" role="grid"
                aria-describedby="Quality_table2_info">
                <thead>
                  <tr class="text-center" role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="Quality_table2" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label="Date: activate to sort column ascending" style="width: 0px;">Date</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table2" rowspan="1" colspan="1" aria-label="Uploaded By: activate to sort column ascending"
                      style="width: 0px;">Uploaded
                      By</th>
                    <th class="sorting" tabindex="0" aria-controls="Quality_table2" rowspan="1" colspan="1" aria-label="No.Of Records: activate to sort column ascending"
                      style="width: 0px;">No.Of
                      Records</th>
                    <th class="text-center sorting" tabindex="0" aria-controls="Quality_table2" rowspan="1" colspan="1"
                      aria-label="Excel: activate to sort column ascending" style="width: 0px;">Excel</th>
                    <th class="text-center sorting" tabindex="0" aria-controls="Quality_table2" rowspan="1" colspan="1"
                      aria-label="Download: activate to sort column ascending" style="width: 0px;">Download</th>
                  </tr>
                </thead>
                <tbody>

                  <tr role="row" class="odd">
                    <td class="sorting_1">11/05/2018</td>
                    <td>Admin</td>
                    <td>10</td>
                    <td class="text-center"><a><i class="fa fa-file-excel-o"></i></a></td>
                    <td class="text-center"><a><i class="fa fa-download" title="Click to Download"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">

              <div class="col-md-7 col-sm-12 pull-right">
                <div class="dataTables_paginate paging_simple_numbers" id="Quality_table2_paginate">
                  <ul class="pagination pull-right">
                    <li class="paginate_button previous disabled" aria-controls="Quality_table2" tabindex="0" id="Quality_table2_previous"><a
                        href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="paginate_button active" aria-controls="Quality_table2" tabindex="0"><a href="#">1</a></li>
                    <li class="paginate_button next disabled" aria-controls="Quality_table2" tabindex="0" id="Quality_table2_next"><a
                        href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" bsModal #downloadModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <b class="modal-title titlemodal text">Download Data</b> <i (click)="downloadModalToggle(2)" class="fa fa-times pull-right"
            style="font-size:17px;"></i>
        </div>
        <div class="modal-body ">
          <div class="row container-fluid">
            <div class="col-sm-12 margin-left-16">
              <a class="btn btn-primary col-sm-5 marginbtn" id="Marketing_download_csv" title="Click to download Document"><i
                  class="fa fa-download"></i>&nbsp;&nbsp;Download CSV Template&nbsp;&nbsp;</a>
              <a class="btn btn-primary col-sm-5 marginbtn pull-right" id="Marketing_download_Latest_data" title="Click to Download CSV Document"><i
                  class="fa fa-download"></i>&nbsp;&nbsp;Download Latest Data&nbsp;&nbsp;</a>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)='downloadModalToggle(2)' class="btn btn-success" data-dismiss="modal"><i class="fa fa-download"></i>&nbsp;Download</button>
          <button type="button" (click)='downloadModalToggle(2)' class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



  <div class="modal fade" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <b class="modal-title titlemodal">Upload Template</b><i (click)="uploadModalToggle(2)" class="fa fa-times pull-right"
            style="font-size:17px;"></i>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-sm-12 margintop10">
              <div class="col-sm-4">
                <label class="control-label">Select File&nbsp;:</label>
              </div>
              <div class="col-sm-8">
                <input type="file" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-upload"></i>&nbsp;Upload</button>
          <button type="button" class="btn btn-default" (click)="uploadModalToggle(2)" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>