<div class="row">

  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>&nbsp; Industries
        </div>

      </div>

      <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>
    <div class="col-sm-8">

      <div *ngIf="mainvalue==='Summary'|| mainvalue==null" class="grey-cararra table-responsive">
    
        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">MAX</th>
              <th scope="col">MIN</th>
              <th scope="col">Average</th>
              <th scope="col">Target</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="6" scope="row">Industries</td>
              <td>Inra</td>
              <td>90</td>
              <td>50</td>
              <td>75</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Hotels</td>
              <td>85</td>
              <td>48</td>
              <td>69</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Manufacturing</td>
              <td>75</td>
              <td>45</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Health Care</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Emerging</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Segmentation</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>

          </tbody>
        </table>


      </div>



      <div class="border" *ngIf="mainvalue==='Inra'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="inrachart"></div>
      
      </div>

     
      <div class="border" *ngIf="mainvalue==='Hotels'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="hotelschart"></div>
      
      </div>

     

      <div class="border" *ngIf="mainvalue==='Manufacturing'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="manufacturingchart"></div>
      
      </div>

     

      <div class="border" *ngIf="mainvalue==='Health Care'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="healthcarechart"></div>
      
      </div>

     

      <div class="border" *ngIf="mainvalue==='Emerging'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="emergingchart"></div>
      
      </div>

     

      <div class="border" *ngIf="mainvalue==='Segmentation'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="segmentationchart"></div>
      
      </div>


  
        <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Inra'">
       
       
          <table class="table table-bordered table-striped text-center margin-top-10" id="">
              <thead>
                <tr>
                  <th scope="col">Months</th>
                  <th scope="col">{{mainvalue}}</th>
    
                </tr>
              </thead>
              <tbody>
                <tr>
    
                  <td>January</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>February</td>
                  <td>35</td>
                </tr>
                <tr>
                  <td>March</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>April</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>May</td>
                  <td>33</td>
                </tr>
                <tr>
                  <td>June</td>
                  <td>80</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>59</td>
                </tr>
                <tr>
                  <td>August</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>September</td>
                  <td>42</td>
                </tr>
                <tr>
                  <td>October</td>
                  <td>59</td>
                </tr>
                <tr>
                  <td>November</td>
                  <td>45</td>
                </tr>
                <tr>
                  <td>December</td>
                  <td>62</td>
    
                </tr>
             
    
              </tbody>
            </table>
        </div>
  
        <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Hotels' ||mainvalue==='Emerging'">


          <table class="table table-hover table-striped table-bordered text-center margin-top-10" id="">
            <thead>
              <tr>
                <th scope="col">Months</th>
                <th scope="col">{{mainvalue}}</th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
  
                <td>January</td>
                <td>06</td>
              </tr>
              <tr>
                <td>February</td>
                <td>07</td>
              </tr>
              <tr>
                <td>March</td>
                <td>09</td>
              </tr>
              <tr>
                <td>April</td>
                <td>08</td>
              </tr>
              <tr>
                <td>May</td>
                <td>04</td>
              </tr>
              <tr>
                <td>June</td>
                <td>04</td>
              </tr>
              <tr>
                <td>July</td>
                <td>06</td>
              </tr>
              <tr>
                <td>August</td>
                <td>11</td>
              </tr>
              <tr>
                <td>September</td>
                <td>10</td>
              </tr>
              <tr>
                <td>October</td>
                <td>10</td>
              </tr>
              <tr>
                <td>November</td>
                <td>15</td>
              </tr>
              <tr>
                <td>December</td>
                <td>13</td>
              </tr>
  
  
            </tbody>
          </table>
        </div>  
    
        <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Manufacturing'">
          <table class="table table-bordered table-striped text-center margin-top-10" id="">
            <thead>
              <tr>
                <th scope="col">Weeks</th>
                <th scope="col">{{mainvalue}}</th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
  
                <td>1st Week</td>
                <td>15</td>
              </tr>
              <tr>
                <td>2nd Week</td>
                <td>25</td>
              </tr>
              <tr>
                <td>3rd Week</td>
                <td>27</td>
              </tr>
              <tr>
                <td>4th Week</td>
                <td>22</td>
              </tr>
  
  
  
            </tbody>
          </table>
  
        </div>

        <div class="" style="margin-top:20px;" *ngIf="mainvalue === 'Health Care'||mainvalue ==='Segmentation'">


          <table class="table table-bordered text-center table-striped" id="">
            <thead>
              <tr>
                <th scope="col">Quarters</th>
                <th scope="col">{{mainvalue}} Percentage</th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
  
                <td>Quarter 01</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>Quarter 02</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Quarter 03</td>
                <td>28%</td>
              </tr>
              <tr>
                <td>Quarter 04</td>
                <td>22%</td>
              </tr>
          
  
            </tbody>
          </table>
        </div>
  

      <div *ngIf="mainvalue==='Exceptions'" class="grey-cararra table-responsive">
    
        <table class="table table-bordered table-striped text-center table-responsive" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">Execptions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="6" scope="row">Industries</td>
              <td>Inra</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Hotels</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Manufacturing </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Health Care </td>
              <td>4</td>
            </tr>
            <tr>
              <td>Emerging </td>
              <td>5</td>
            </tr>
            <tr>
              <td>Segmentation</td>
              <td>9</td>
            </tr>
            
          </tbody>
        </table>
      </div>

      


    </div>
  </div>


</div>