<div class="col-sm-12">
    <div class="col-sm-12 no-padding" style="margin-bottom:10px;margin-right: 0px;">
        <a class="btn btn-primary pull-right IECustombtn" (click)="addUserModalToggle(1)" title="Click to Add New User">
            <i class="fa fa-plus"></i>&nbsp;Add User
        </a>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12"> 
        </div>
        <div class="col-md-6 col-sm-12 pull-right">
            <div id="Quality_table1_filter" class="dataTables_filter pull-right"><label style="display:inline-block; font-weight: 400">Search:&nbsp;</label>
                <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="Quality_table1"></div>
        </div>
    </div>


    <table class="table table-hover table-bordered table-scrollable-borderless table-striped margin-top" id="table1">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Email ID
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Permissions
                </th>
                <th>
                    Assign Entity
                </th>
                <th>
                    Status
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let data of users'>
                <td>{{data.Username}} </td>
                <td>{{data.EmailID}} <i class="fa fa-check green"></i></td>
                <td>{{data.PhoneNumber}}</td>
                <td>
                    <a title="Click to Assign Permissions" (click)="permissionModal1Toggle(1)">11/24</a>
                </td>
                <td>
                    <a title="Click to Assign Entities" (click)="assignEntityToggle(1)">1/6</a>
                </td>
                <td>
                    <!-- <a *ngIf="status==null" (click)='getstatus(1)'>Active</a>
          <a *ngIf="status==1">Inactive</a> -->
                    <a (click)="changeStatus($event,data.Id)">{{ data.Status ? '&nbsp;&nbsp;&nbsp;Active'
                        :'Inactive'}}
                    </a>
                </td>
                <td class="text-center">
                    <a title="Click to Update details">
                        <i (click)="addUserModalToggle(1)" class="fa fa-pencil-square"></i>
                    </a>&nbsp;
                    <a title="Click to Delete">
                        <i (click)="deleteModalToggle(1)" class="fa fa-trash" style="color:red"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" bsModal #addUserModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Add User Details</b> <i (click)="addUserModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body col-md-12">
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Enter First Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Last Name&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control" autocomplete="off" placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date Of Birth&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-calendar"></i>
                                <input type="date" class="form-control" placeholder="mm/dd/yyyy">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email Address&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-envelope"></i>
                                <input type="email" class="form-control" autocomplete="off" placeholder="Enter Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phone Number&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <i class="fa fa-mobile"></i>
                                <input type="number" class="form-control" autocomplete="off" placeholder="Enter Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Permissions&nbsp;:</label>
                        <div class="col-md-7 no-padding">
                            <label class="radio-inline" style="margin-left:0px;" (click)="permissionModalToggle(1)"><a>Click
                                    Here</a></label>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" (click)="addUserModalToggle(2)">Close</button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Delete Record</b> <i (click)="deleteModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body col-md-12">

                <div class="col-sm-12">
                    <label>Are You Sure ? You want to delete record, this action can't be undone.</label>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i>&nbsp;Delete</button>
                <button type="button" class="btn btn-default" (click)="deleteModalToggle(2)"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #permissionModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <b>Permissions</b> <i (click)="permissionModalToggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                </h4>
            </div>
            <div class="modal-body row">
                <div class="col-sm-6">
                    <table class="table table-hover table-bordered table-scrollable-borderless col-sm-6 table-striped margin-top"
                        id="table1">
                        <thead>

                            <tr>
                                <th>
                                    Select
                                </th>
                                <th>
                                    Permission
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>View Dashboard</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Organization</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Division</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Location</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Entity</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>Setup</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Dimension</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage KRA</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage KPI</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>Users</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Users</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Assign Permissions</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <table class="table table-hover table-bordered table-scrollable-borderless table-striped margin-top"
                        id="table1">
                        <thead>

                            <tr>
                                <th>
                                    Select
                                </th>
                                <th>
                                    Permission
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>Predictive Analytics</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Highlights</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Data</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>System Analytics</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Highlights</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Data</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>Control Analytics</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Highlights</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Data</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft"><b>Process Analytics</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Highlights</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="textleft">Manage Data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" (click)="permissionModalToggle(2)" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Update</button>
                <button type="button" class="btn btn-default" (click)="permissionModalToggle(2)"><i class="fa fa-arrow-left"></i>&nbsp;Go
                    Back</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #permissionModal1="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
        <div class="modal-dialog modal-custom">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <b>Permissions</b> <i (click)="permissionModal1Toggle(2)" class="fa fa-times pull-right" style="font-size:17px;"></i>
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-6">
                        <table class="table table-hover table-bordered table-scrollable-borderless col-sm-6 table-striped margin-top"
                            id="table1">
                            <thead>
    
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>
                                        Permission
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>View Dashboard</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Organization</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox   [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Division</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Location</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Entity</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>Setup</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Dimension</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox  [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage KRA</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage KPI</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>Users</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Users</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Assign Permissions</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-bordered table-scrollable-borderless table-striped margin-top"
                            id="table1">
                            <thead>
    
                                <tr>
                                    <th>
                                        Select
                                    </th>
                                    <th>
                                        Permission
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>Predictive Analytics</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Highlights</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Data</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>System Analytics</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Highlights</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Data</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>Control Analytics</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled" [checked]="myModel"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Highlights</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Data</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft"><b>Process Analytics</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Highlights</td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-checkbox [disabled]="disabled"></mat-checkbox>
                                    </td>
                                    <td class="textleft">Manage Data</td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
    
                </div>
                <div class="modal-footer">
                   
                    <button type="button" class="btn btn-default" (click)="permissionModal1Toggle(2)"><i class="fa fa-times"></i>&nbsp;Close
                        </button>
                </div>
            </div>
        </div>
    </div>



<!-- For Entities List Modal Popup -->
<div class="modal fade" bsModal #entitiesModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
  
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titlemodal">
                    <b>Assign Entity</b> <i (click)="assignEntityToggle(2)" class="fa fa-times pull-right titlemodal"></i>
                </h4>
            </div>
            <div class="modal-body modalbody col-sm-12">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Division&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Division" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> Project  </mat-option>
                                    <mat-option> Product  </mat-option>
                                </mat-select>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Location&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Location" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> India  </mat-option>
                                    <mat-option> Australia </mat-option>
                                    <mat-option> Canada  </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Entity&nbsp;:</label>
                            <div class="col-md-8">
                                <mat-select placeholder="Entity" class="col-sm-10 form-control marginbtn" multiple>
                                    <mat-option> Option Matrix  </mat-option>
                                    <mat-option> Option M  </mat-option>
                                    <mat-option> Option Zero  </mat-option>
                                </mat-select>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="assignEntityToggle(2)"><i class="fa fa-check"></i>&nbsp;Save</button>
        
            <button type="button" class="btn btn-default" (click)="assignEntityToggle(2)"><i class="fa fa-times"></i>&nbsp;Close
            </button>
            <button type="button" (click)="assignEntityToggle(2)" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Unassign Entities</button>
        </div>
        </div>
    </div>
</div>

