.charts{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bodypadding{
    padding: 30px;
    background-color: white;
}



::ng-deep bs-daterangepicker-container{
    left:auto !important;
    right:30px;
}
