<div class="row">

  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>&nbsp; Infrastructure
        </div>

      </div>

      <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>
    <div class="col-sm-8">

      <div *ngIf="mainvalue==='Summary'|| mainvalue==null" class="grey-cararra table-responsive">
    
        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">MAX</th>
              <th scope="col">MIN</th>
              <th scope="col">Average</th>
              <th scope="col">Target</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="10" scope="row">Infrastructure</td>
              <td>Internet</td>
              <td>90</td>
              <td>50</td>
              <td>75</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Power</td>
              <td>85</td>
              <td>48</td>
              <td>69</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Hygiene</td>
              <td>75</td>
              <td>45</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Work Stations</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Discussion Rooms</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Silence </td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Ambience</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
         
              <td> Air Conditioning</td>
              <td>4.8</td>
              <td>2.2</td>
              <td>3.9</td>
              <td>4.9</td>
            </tr>
            <tr>
              <td>Water</td>
              <td>8.8</td>
              <td>6.2</td>
              <td>7.7</td>
              <td>9.0</td>
            </tr>
            <tr>
           
              <td>Dining</td>
              <td>500</td>
              <td>220</td>
              <td>350</td>
              <td>750</td>
            </tr>
          

          </tbody>
        </table>


      </div>


      <div class="border" *ngIf="mainvalue==='Internet'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>

        <div class="col-sm-12" style="background-color:white;">
          <div class="col-sm-8">

          </div>
          <div class="col-sm-4 pull-right margin-top">
            <mat-select placeholder="Select Month" [(value)]="selected" class="form-control marginbtn">
              <mat-option *ngFor="let month of months" [value]="month.viewValue">
                {{month.viewValue}}
              </mat-option>
            </mat-select>
          </div>

        </div>

        <div [chart]="internetchart"></div>

      </div>

    
      <div class="border" *ngIf="mainvalue==='Power'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="powerchart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Hygiene'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="hygienechart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Work Stations'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="workstationschart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Discussion Rooms'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div class="col-sm-12" style="background-color:white;">
          <div class="col-sm-8">

          </div>
          <div class="col-sm-4 pull-right margin-top">
            <mat-select placeholder="Select Month" [(value)]="selected" class="form-control marginbtn">
              <mat-option *ngFor="let month of months" [value]="month.viewValue">
                {{month.viewValue}}
              </mat-option>
            </mat-select>
          </div>

        </div>
        <div [chart]="discussionroomschart"></div>


      </div>

      <div class="border" *ngIf="mainvalue==='Silence'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="silencechart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Ambience'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="ambiencechart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Air Conditioning'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="airconditioningchart"></div>
     
    
      </div>

      <div class="border" *ngIf="mainvalue==='Water'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="waterchart"></div>
     
    
      </div>
      
      <div class="border" *ngIf="mainvalue==='Dining'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>
        <div [chart]="diningchart"></div>
     
    
      </div>

      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Internet'">


        <table class="table table-bordered table-striped text-center margin-top-10" id="">
          <thead>
            <tr>
              <th scope="col">Days</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>{{selected}}-01</td>
              <td>15</td>
            </tr>
            <tr>
              <td>{{selected}}-02</td>
              <td>11</td>
            </tr>
            <tr>
              <td>{{selected}}-03</td>
              <td>16</td>
            </tr>
            <tr>
              <td>{{selected}}-04</td>
              <td>26</td>
            </tr>
            <tr>
              <td>{{selected}}-05</td>
              <td>33</td>
            </tr>
            <tr>
              <td>{{selected}}-06</td>
              <td>31</td>
            </tr>
            <tr>
              <td>{{selected}}-07</td>
              <td>38</td>
            </tr>
            <tr>
              <td>{{selected}}-08</td>
              <td>37</td>
            </tr>
            <tr>
              <td>{{selected}}-09</td>
              <td>41</td>
            </tr>
            <tr>
              <td>{{selected}}-10</td>
              <td>49</td>
            </tr>
            <tr>
              <td>{{selected}}-11</td>
              <td>46</td>
            </tr>
            <tr>
              <td>{{selected}}-12</td>
              <td>51</td>

            </tr>
            <tr>
              <td>{{selected}}-13</td>
              <td>50</td>
            </tr>
            <tr>
              <td>{{selected}}-14</td>
              <td>55</td>
            </tr>
            <tr>
              <td>{{selected}}-15</td>
              <td>49</td>
            </tr>
            <tr>
              <td>{{selected}}-16</td>
              <td>56</td>
            </tr>
            <tr>
              <td>{{selected}}-17</td>
              <td>53</td>
            </tr>
            <tr>
              <td>{{selected}}-18</td>
              <td>50</td>
            </tr>
            <tr>
              <td>{{selected}}-19</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-20</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-21</td>
              <td>52</td>
            </tr>
            <tr>
              <td>{{selected}}-22</td>
              <td>59</td>
            </tr>
            <tr>
              <td>{{selected}}-23</td>
              <td>45</td>
            </tr>
            <tr>
              <td>{{selected}}-24</td>
              <td>62</td>

            </tr>
            <tr>
              <td>{{selected}}-25</td>
              <td>58</td>
            </tr>
            <tr>
              <td>{{selected}}-26</td>
              <td>52</td>
            </tr>
            <tr>
              <td>{{selected}}-27</td>
              <td>45</td>
            </tr>
            <tr>
              <td>{{selected}}-28</td>
              <td>55</td>
            </tr>
            <tr>
              <td>{{selected}}-29</td>
              <td>33</td>
            </tr>
            <tr>
              <td>{{selected}}-30</td>
              <td>48</td>

            </tr>



          </tbody>
        </table>
      </div>

      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Power'">


        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>January</td>
              <td>20</td>
            </tr>
            <tr>
              <td>February</td>
              <td>45</td>
            </tr>
            <tr>
              <td>March</td>
              <td>35</td>
            </tr>
            <tr>
              <td>April</td>
              <td>74</td>
            </tr>
            <tr>
              <td>May</td>
              <td>42</td>
            </tr>
            <tr>
              <td>June</td>
              <td>90</td>
            </tr>
            <tr>
              <td>July</td>
              <td>69</td>
            </tr>
            <tr>
              <td>August</td>
              <td>39</td>
            </tr>
            <tr>
              <td>September</td>
              <td>52</td>
            </tr>
            <tr>
              <td>October</td>
              <td>69</td>
            </tr>
            <tr>
              <td>November</td>
              <td>55</td>
            </tr>
            <tr>
              <td>December</td>
              <td>72</td>

            </tr>


          </tbody>
        </table>
      </div>
      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Hygiene' || mainvalue==='Ambience' ||mainvalue==='Dining'">


        <table class="table table-hover table-striped table-bordered text-center margin-top-10" id="">
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>January</td>
              <td>06</td>
            </tr>
            <tr>
              <td>February</td>
              <td>07</td>
            </tr>
            <tr>
              <td>March</td>
              <td>09</td>
            </tr>
            <tr>
              <td>April</td>
              <td>08</td>
            </tr>
            <tr>
              <td>May</td>
              <td>04</td>
            </tr>
            <tr>
              <td>June</td>
              <td>04</td>
            </tr>
            <tr>
              <td>July</td>
              <td>06</td>
            </tr>
            <tr>
              <td>August</td>
              <td>11</td>
            </tr>
            <tr>
              <td>September</td>
              <td>10</td>
            </tr>
            <tr>
              <td>October</td>
              <td>10</td>
            </tr>
            <tr>
              <td>November</td>
              <td>15</td>
            </tr>
            <tr>
              <td>December</td>
              <td>13</td>
            </tr>


          </tbody>
        </table>
      </div>
      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Air Conditioning' ||mainvalue==='Water'">


        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">Months</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>January</td>
              <td>01</td>
            </tr>
            <tr>
              <td>February</td>
              <td>02</td>
            </tr>
            <tr>
              <td>March</td>
              <td>02</td>
            </tr>
            <tr>
              <td>April</td>
              <td>04</td>
            </tr>
            <tr>
              <td>May</td>
              <td>05</td>
            </tr>
            <tr>
              <td>June</td>
              <td>04</td>
            </tr>
            <tr>
              <td>July</td>
              <td>06</td>
            </tr>
            <tr>
              <td>August</td>
              <td>07</td>
            </tr>
            <tr>
              <td>September</td>
              <td>04</td>
            </tr>
            <tr>
              <td>October</td>
              <td>05</td>
            </tr>
            <tr>
              <td>November</td>
              <td>05</td>
            </tr>
            <tr>
              <td>December</td>
              <td>03</td>

            </tr>


          </tbody>
        </table>
      </div>

      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Work Stations'">


        <table class="table table-hover table-striped table-bordered text-center margin-top-10" id="">
          <thead>
            <tr>
              <th scope="col">Quarters</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>1st Quarter</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2nd Quarter</td>
              <td>08</td>
            </tr>
            <tr>
              <td>3rd Quarter</td>
              <td>09</td>
            </tr>
            <tr>
              <td>4th Quarter</td>
              <td>19</td>
            </tr>


          </tbody>
        </table>
      </div>

      <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Discussion Rooms'">
        <table class="table table-bordered table-striped text-center margin-top-10" id="">
          <thead>
            <tr>
              <th scope="col">Weeks</th>
              <th scope="col">{{mainvalue}}</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>1st Week</td>
              <td>15</td>
            </tr>
            <tr>
              <td>2nd Week</td>
              <td>25</td>
            </tr>
            <tr>
              <td>3rd Week</td>
              <td>27</td>
            </tr>
            <tr>
              <td>4th Week</td>
              <td>22</td>
            </tr>



          </tbody>
        </table>

      </div>
      <div class="" style="margin-top:20px;" *ngIf="mainvalue === 'Silence'">


        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">Quarters</th>
              <th scope="col">{{mainvalue}} Percentage</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>Quarter 01</td>
              <td>30%</td>
            </tr>
            <tr>
              <td>Quarter 02</td>
              <td>20%</td>
            </tr>
            <tr>
              <td>Quarter 03</td>
              <td>28%</td>
            </tr>
            <tr>
              <td>Quarter 04</td>
              <td>22%</td>
            </tr>
        

          </tbody>
        </table>
      </div>

      <div *ngIf="mainvalue==='Exceptions'" class="grey-cararra table-responsive">
    
        <table class="table table-bordered table-striped text-center table-responsive" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">Execptions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="10" scope="row">Infrastructure </td>
              <td>Internet</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Power </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Hygiene </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Work Stations </td>
              <td>4</td>
            </tr>
            <tr>
              <td>Discussion Rooms </td>
              <td>5</td>
            </tr>
            <tr>
              <td>Silence</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Ambience</td>
              <td>0</td>
            </tr>
            <tr>
             
              <td>Air Conditioning </td>
              <td>4</td>
            </tr>
            <tr>
              <td>Water </td>
              <td>7</td>
            </tr>
            <tr>
          
              <td>Dining</td>
              <td>0</td>
            </tr>
           

          </tbody>
        </table>
      </div>

      


    </div>
  </div>


</div>