<div class="row">

  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>&nbsp; Talent
        </div>

      </div>

      <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
    </div>
    <div class="col-sm-8">

      <div *ngIf="mainvalue==='Summary'|| mainvalue==null" class="grey-cararra table-responsive">
    
        <table class="table table-bordered text-center table-striped" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">MAX</th>
              <th scope="col">MIN</th>
              <th scope="col">Average</th>
              <th scope="col">Target</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="7" scope="row">Talent</td>
              <td>Recruitment</td>
              <td>90</td>
              <td>50</td>
              <td>75</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Joining Ratio</td>
              <td>85</td>
              <td>48</td>
              <td>69</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Induction</td>
              <td>75</td>
              <td>45</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Work Experience</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>IQ Distribution</td>
              <td>120</td>
              <td>100</td>
              <td>110</td>
              <td>110</td>
            </tr>
            <tr>
              <td>Gestation</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Subject Expertise</td>
              <td>75</td>
              <td>42</td>
              <td>66</td>
              <td>90</td>
            </tr>
           

          </tbody>
        </table>


      </div>

 

      <div class="border" *ngIf="mainvalue==='Recruitment'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div [chart]="recruitmentchart"></div>  
      </div>

      <div class="border" *ngIf="mainvalue==='Joining Ratio'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div [chart]="Joiningratiochart"></div>  
      </div>

      
      <div class="border" *ngIf="mainvalue==='Induction'">
        
          <div class="col-sm-12 portlet-title">
            <div class="caption">
              &nbsp;{{mainvalue}}
            </div>
  
          </div>

          <div class="box-body">
            <ul class="timeline">
              <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
  
                  <h3 class="timeline-header"><a style="color:#357ebd;" href="javascript:;">Navin Malik
                      </a></h3>
                  <div class="timeline-body">
                    <p>Hi Neil, Welcome to Option Matrix</p>
                  </div>
                  <div class="timeline-footer">
                    <span class="time"><i class="fa fa-calendar"></i> Tue, 1 Nov</span>
                  </div>
                </div>
              </li>
  
              <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
  
                  <h3 class="timeline-header">
                    <a style="color:#357ebd;" href="javascript:;">RadhaKrishna</a></h3>
                  <div class="timeline-body">
                    <p>Hi Neil, Welcome to Option Matrix</p>
                  </div>
                  <div class="timeline-footer">
                    <span class="time"><i class="fa fa-calendar"></i> Tue, 29 Nov</span>
                  </div>
                </div>
              </li>
  
              <li>
                <i class="fa fa-envelope bg-blue"></i>
                <div class="timeline-item">
  
                  <h3 class="timeline-header"><a style="color: #357ebd;" href="javascript:;">Syeda</a></h3>
                  <div class="timeline-body">
                    <p>Hi Neil, Welcome to Option Matrix</p>
                  </div>
                  <div class="timeline-footer">
                    <span class="time"><i class="fa fa-calendar"></i> Tue, 29 Nov</span>
                  </div>
                </div>
              </li>
            </ul>
            <!-- /.table-responsive -->
          </div>
  
        
      </div>


      
      <div class="border" *ngIf="mainvalue==='Work Experience'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div [chart]="Workexperiencechart"></div>  
      </div>

      
      <div class="border" *ngIf="mainvalue==='IQ Distribution'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div [chart]="iqchart"></div>  
      </div>

      
      <div class="border" *ngIf="mainvalue==='Gestation'">
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>
        </div>
        <div [chart]="gestationchart"></div>  
      </div>

      
      <div class="border" *ngIf="mainvalue==='Subject Expertise'">
        
        <div class="col-sm-12 portlet-title">
          <div class="caption">
            &nbsp;{{mainvalue}}
          </div>

        </div>

        <div class="box-body">
          <ul class="timeline">
            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">

                <h3 class="timeline-header"><a style="color:#357ebd;" href="javascript:;">Anji
                    </a></h3>
                <div class="timeline-body">
                  <p>Expertise in .Net</p>
                </div>
                <div class="timeline-footer">
                  <span class="time"><i class="fa fa-calendar"></i> Tue, 1 Nov</span>
                </div>
              </div>
            </li>

            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">

                <h3 class="timeline-header">
                  <a style="color:#357ebd;" href="javascript:;">Vamsi</a></h3>
                <div class="timeline-body">
                  <p>Expertise in SQL</p>
                </div>
                <div class="timeline-footer">
                  <span class="time"><i class="fa fa-calendar"></i> Tue, 29 Nov</span>
                </div>
              </div>
            </li>

            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">

                <h3 class="timeline-header"><a style="color: #357ebd;" href="javascript:;">Swamy</a></h3>
                <div class="timeline-body">
                  <p>Expertise in Java
                  </p>
                </div>
                <div class="timeline-footer">
                  <span class="time"><i class="fa fa-calendar"></i> Tue, 29 Nov</span>
                </div>
              </div>
            </li>
          </ul>
          <!-- /.table-responsive -->
        </div>

      
    </div>

    <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Recruitment'">


      <table class="table table-bordered text-center table-striped" id="">
        <thead>
          <tr>
            <th scope="col">Months</th>
            <th scope="col">{{mainvalue}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>January</td>
            <td>01</td>
          </tr>
          <tr>
            <td>February</td>
            <td>02</td>
          </tr>
          <tr>
            <td>March</td>
            <td>02</td>
          </tr>
          <tr>
            <td>April</td>
            <td>04</td>
          </tr>
          <tr>
            <td>May</td>
            <td>05</td>
          </tr>
          <tr>
            <td>June</td>
            <td>04</td>
          </tr>
          <tr>
            <td>July</td>
            <td>06</td>
          </tr>
          <tr>
            <td>August</td>
            <td>07</td>
          </tr>
          <tr>
            <td>September</td>
            <td>04</td>
          </tr>
          <tr>
            <td>October</td>
            <td>05</td>
          </tr>
          <tr>
            <td>November</td>
            <td>05</td>
          </tr>
          <tr>
            <td>December</td>
            <td>03</td>

          </tr>


        </tbody>
      </table>
    </div>
    <div class="" style="margin-top:20px;" *ngIf="mainvalue === 'Joining Ratio' || mainvalue==='Gestation'">


      <table class="table table-bordered text-center table-striped" id="">
        <thead>
          <tr>
            <th scope="col">Quarters</th>
            <th scope="col">{{mainvalue}} Percentage</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>Quarter 01</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>Quarter 02</td>
            <td>20%</td>
          </tr>
          <tr>
            <td>Quarter 03</td>
            <td>28%</td>
          </tr>
          <tr>
            <td>Quarter 04</td>
            <td>22%</td>
          </tr>
      

        </tbody>
      </table>
    </div>

    <div class="" style="margin-top:20px;" *ngIf="mainvalue==='Work Experience'">


      <table class="table table-bordered text-center table-striped" id="">
        <thead>
          <tr>
            <th scope="col">Months</th>
            <th scope="col">{{mainvalue}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>January</td>
            <td>01</td>
          </tr>
          <tr>
            <td>February</td>
            <td>02</td>
          </tr>
          <tr>
            <td>March</td>
            <td>02</td>
          </tr>
          <tr>
            <td>April</td>
            <td>04</td>
          </tr>
          <tr>
            <td>May</td>
            <td>05</td>
          </tr>
          <tr>
            <td>June</td>
            <td>04</td>
          </tr>
          <tr>
            <td>July</td>
            <td>06</td>
          </tr>
          <tr>
            <td>August</td>
            <td>07</td>
          </tr>
          <tr>
            <td>September</td>
            <td>04</td>
          </tr>
          <tr>
            <td>October</td>
            <td>05</td>
          </tr>
          <tr>
            <td>November</td>
            <td>05</td>
          </tr>
          <tr>
            <td>December</td>
            <td>03</td>

          </tr>


        </tbody>
      </table>
    </div>
    <div class="" style="margin-top:20px;" *ngIf="mainvalue==='IQ Distribution'">


      <table class="table table-bordered text-center table-striped" id="">
        <thead>
          <tr>
            <th scope="col">Months</th>
            <th scope="col">{{mainvalue}}</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>January</td>
            <td>110</td>
          </tr>
          <tr>
            <td>February</td>
            <td>115</td>
          </tr>
          <tr>
            <td>March</td>
            <td>105</td>
          </tr>
          <tr>
            <td>April</td>
            <td>110</td>
          </tr>
          <tr>
            <td>May</td>
            <td>120</td>
          </tr>
          <tr>
            <td>June</td>
            <td>116</td>
          </tr>
          <tr>
            <td>July</td>
            <td>113</td>
          </tr>
          <tr>
            <td>August</td>
            <td>121</td>
          </tr>
          <tr>
            <td>September</td>
            <td>112</td>
          </tr>
          <tr>
            <td>October</td>
            <td>119</td>
          </tr>
          <tr>
            <td>November</td>
            <td>115</td>
          </tr>
          <tr>
            <td>December</td>
            <td>120</td>

          </tr>


        </tbody>
      </table>
    </div>
  
  


      <div *ngIf="mainvalue==='Exceptions'" class="grey-cararra table-responsive">
    
        <table class="table table-bordered table-striped text-center table-responsive" id="">
          <thead>
            <tr>
              <th scope="col">KRA</th>
              <th scope="col">KPI</th>
              <th scope="col">Execptions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="7" scope="row">Talent</td>
              <td>Recruitment</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Joining Ratio	 </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Induction </td>
              <td>0</td>
            </tr>
            <tr>
              <td>Work Experience </td>
              <td>4</td>
            </tr>
            <tr>
              <td>IQ Distribution </td>
              <td>5</td>
            </tr>
            <tr>
              <td>Gestation</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Subject Expertise</td>
              <td>0</td>
            </tr>
           

          </tbody>
        </table>
      </div>

      


    </div>
  </div>


</div>