<div class="">
  <div class="col-sm-12">
    <ul class="nav nav-pills pillbtn pull-right">
      <li class="pill_bg_color" routerLinkActive='active'>
        <a class="navpills" [routerLink]="['highlights']"><i class="fa fa-list-alt"></i>&nbsp;Highlights</a>
      </li>
      <li class="pill_bg_color" routerLinkActive='active'>
        <a class="navpills" [routerLink]="['data']"><i class="fa fa-folder"></i>&nbsp;Data</a>
      </li>
    </ul>
  </div>



  <router-outlet></router-outlet>


</div>